# Vive La Campagne!

Ce notebook a pour objectif de selectionner et visualiser les communes

## Communes

In [18]:
import pandas as pd
from datetime import datetime
from random import uniform
from time import sleep

Pour ce faire nous commençons par importer une basée de données reprennant toutes les communes de France:
[Base de données villes française CC-BY-SA](https://sql.sh/736-base-donnees-villes-francaises)

In [19]:
communes = pd.read_csv("data/2020-03-16-resultats-par-bv.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
communes.head(3)

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code B.Vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,% Voix/Exp.60,N.Pan..61,Code Nuance.61,Sexe.61,Nom.61,Prénom.61,Liste.61,Voix.61,% Voix/Ins.61,% Voix/Exp.61
0,1,Ain,1,L'Abergement-Clémenciat,1,622,340,54.66,282,45.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Ain,2,L'Abergement-de-Varey,1,212,83,39.15,129,60.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Ain,4,Ambérieu-en-Bugey,1,1042,686,65.83,356,34.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
list(communes.columns.values)

['Code du département',
 'Libellé du département',
 'Code de la commune',
 'Libellé de la commune',
 'Code B.Vote',
 'Inscrits',
 'Abstentions',
 '% Abs/Ins',
 'Votants',
 '% Vot/Ins',
 'Blancs',
 '% Blancs/Ins',
 '% Blancs/Vot',
 'Nuls',
 '% Nuls/Ins',
 '% Nuls/Vot',
 'Exprimés',
 '% Exp/Ins',
 '% Exp/Vot',
 'N.Pan.',
 'Code Nuance',
 'Sexe',
 'Nom',
 'Prénom',
 'Liste',
 'Voix',
 '% Voix/Ins',
 '% Voix/Exp',
 'N.Pan..1',
 'Code Nuance.1',
 'Sexe.1',
 'Nom.1',
 'Prénom.1',
 'Liste.1',
 'Voix.1',
 '% Voix/Ins.1',
 '% Voix/Exp.1',
 'N.Pan..2',
 'Code Nuance.2',
 'Sexe.2',
 'Nom.2',
 'Prénom.2',
 'Liste.2',
 'Voix.2',
 '% Voix/Ins.2',
 '% Voix/Exp.2',
 'N.Pan..3',
 'Code Nuance.3',
 'Sexe.3',
 'Nom.3',
 'Prénom.3',
 'Liste.3',
 'Voix.3',
 '% Voix/Ins.3',
 '% Voix/Exp.3',
 'N.Pan..4',
 'Code Nuance.4',
 'Sexe.4',
 'Nom.4',
 'Prénom.4',
 'Liste.4',
 'Voix.4',
 '% Voix/Ins.4',
 '% Voix/Exp.4',
 'N.Pan..5',
 'Code Nuance.5',
 'Sexe.5',
 'Nom.5',
 'Prénom.5',
 'Liste.5',
 'Voix.5',
 '% Voix/Ins.5',
 '% Voix/Exp.5',
 'N.Pan..6',
 'Code Nuance.6',
 'Sexe.6',
 'Nom.6',
 'Prénom.6',
 'Liste.6',
 'Voix.6',
 '% Voix/Ins.6',
 '% Voix/Exp.6',
 'N.Pan..7',
 'Code Nuance.7',
 'Sexe.7',
 'Nom.7',
 'Prénom.7',
 'Liste.7',
 'Voix.7',
 '% Voix/Ins.7',
 '% Voix/Exp.7',
 'N.Pan..8',
 'Code Nuance.8',
 'Sexe.8',
 'Nom.8',
 'Prénom.8',
 'Liste.8',
 'Voix.8',
 '% Voix/Ins.8',
 '% Voix/Exp.8',
 'N.Pan..9',
 'Code Nuance.9',
 'Sexe.9',
 'Nom.9',
 'Prénom.9',
 'Liste.9',
 'Voix.9',
 '% Voix/Ins.9',
 '% Voix/Exp.9',
 'N.Pan..10',
 'Code Nuance.10',
 'Sexe.10',
 'Nom.10',
 'Prénom.10',
 'Liste.10',
 'Voix.10',
 '% Voix/Ins.10',
 '% Voix/Exp.10',
 'N.Pan..11',
 'Code Nuance.11',
 'Sexe.11',
 'Nom.11',
 'Prénom.11',
 'Liste.11',
 'Voix.11',
 '% Voix/Ins.11',
 '% Voix/Exp.11',
 'N.Pan..12',
 'Code Nuance.12',
 'Sexe.12',
 'Nom.12',
 'Prénom.12',
 'Liste.12',
 'Voix.12',
 '% Voix/Ins.12',
 '% Voix/Exp.12',
 'N.Pan..13',
 'Code Nuance.13',
 'Sexe.13',
 'Nom.13',
 'Prénom.13',
 'Liste.13',
 'Voix.13',
 '% Voix/Ins.13',
 '% Voix/Exp.13',
 'N.Pan..14',
 'Code Nuance.14',
 'Sexe.14',
 'Nom.14',
 'Prénom.14',
 'Liste.14',
 'Voix.14',
 '% Voix/Ins.14',
 '% Voix/Exp.14',
 'N.Pan..15',
 'Code Nuance.15',
 'Sexe.15',
 'Nom.15',
 'Prénom.15',
 'Liste.15',
 'Voix.15',
 '% Voix/Ins.15',
 '% Voix/Exp.15',
 'N.Pan..16',
 'Code Nuance.16',
 'Sexe.16',
 'Nom.16',
 'Prénom.16',
 'Liste.16',
 'Voix.16',
 '% Voix/Ins.16',
 '% Voix/Exp.16',
 'N.Pan..17',
 'Code Nuance.17',
 'Sexe.17',
 'Nom.17',
 'Prénom.17',
 'Liste.17',
 'Voix.17',
 '% Voix/Ins.17',
 '% Voix/Exp.17',
 'N.Pan..18',
 'Code Nuance.18',
 'Sexe.18',
 'Nom.18',
 'Prénom.18',
 'Liste.18',
 'Voix.18',
 '% Voix/Ins.18',
 '% Voix/Exp.18',
 'N.Pan..19',
 'Code Nuance.19',
 'Sexe.19',
 'Nom.19',
 'Prénom.19',
 'Liste.19',
 'Voix.19',
 '% Voix/Ins.19',
 '% Voix/Exp.19',
 'N.Pan..20',
 'Code Nuance.20',
 'Sexe.20',
 'Nom.20',
 'Prénom.20',
 'Liste.20',
 'Voix.20',
 '% Voix/Ins.20',
 '% Voix/Exp.20',
 'N.Pan..21',
 'Code Nuance.21',
 'Sexe.21',
 'Nom.21',
 'Prénom.21',
 'Liste.21',
 'Voix.21',
 '% Voix/Ins.21',
 '% Voix/Exp.21',
 'N.Pan..22',
 'Code Nuance.22',
 'Sexe.22',
 'Nom.22',
 'Prénom.22',
 'Liste.22',
 'Voix.22',
 '% Voix/Ins.22',
 '% Voix/Exp.22',
 'N.Pan..23',
 'Code Nuance.23',
 'Sexe.23',
 'Nom.23',
 'Prénom.23',
 'Liste.23',
 'Voix.23',
 '% Voix/Ins.23',
 '% Voix/Exp.23',
 'N.Pan..24',
 'Code Nuance.24',
 'Sexe.24',
 'Nom.24',
 'Prénom.24',
 'Liste.24',
 'Voix.24',
 '% Voix/Ins.24',
 '% Voix/Exp.24',
 'N.Pan..25',
 'Code Nuance.25',
 'Sexe.25',
 'Nom.25',
 'Prénom.25',
 'Liste.25',
 'Voix.25',
 '% Voix/Ins.25',
 '% Voix/Exp.25',
 'N.Pan..26',
 'Code Nuance.26',
 'Sexe.26',
 'Nom.26',
 'Prénom.26',
 'Liste.26',
 'Voix.26',
 '% Voix/Ins.26',
 '% Voix/Exp.26',
 'N.Pan..27',
 'Code Nuance.27',
 'Sexe.27',
 'Nom.27',
 'Prénom.27',
 'Liste.27',
 'Voix.27',
 '% Voix/Ins.27',
 '% Voix/Exp.27',
 'N.Pan..28',
 'Code Nuance.28',
 'Sexe.28',
 'Nom.28',
 'Prénom.28',
 'Liste.28',
 'Voix.28',
 '% Voix/Ins.28',
 '% Voix/Exp.28',
 'N.Pan..29',
 'Code Nuance.29',
 'Sexe.29',
 'Nom.29',
 'Prénom.29',
 'Liste.29',
 'Voix.29',
 '% Voix/Ins.29',
 '% Voix/Exp.29',
 'N.Pan..30',
 'Code Nuance.30',
 'Sexe.30',
 'Nom.30',
 'Prénom.30',
 'Liste.30',
 'Voix.30',
 '% Voix/Ins.30',
 '% Voix/Exp.30',
 'N.Pan..31',
 'Code Nuance.31',
 'Sexe.31',
 'Nom.31',
 'Prénom.31',
 'Liste.31',
 'Voix.31',
 '% Voix/Ins.31',
 '% Voix/Exp.31',
 'N.Pan..32',
 'Code Nuance.32',
 'Sexe.32',
 'Nom.32',
 'Prénom.32',
 'Liste.32',
 'Voix.32',
 '% Voix/Ins.32',
 '% Voix/Exp.32',
 'N.Pan..33',
 'Code Nuance.33',
 'Sexe.33',
 'Nom.33',
 'Prénom.33',
 'Liste.33',
 'Voix.33',
 '% Voix/Ins.33',
 '% Voix/Exp.33',
 'N.Pan..34',
 'Code Nuance.34',
 'Sexe.34',
 'Nom.34',
 'Prénom.34',
 'Liste.34',
 'Voix.34',
 '% Voix/Ins.34',
 '% Voix/Exp.34',
 'N.Pan..35',
 'Code Nuance.35',
 'Sexe.35',
 'Nom.35',
 'Prénom.35',
 'Liste.35',
 'Voix.35',
 '% Voix/Ins.35',
 '% Voix/Exp.35',
 'N.Pan..36',
 'Code Nuance.36',
 'Sexe.36',
 'Nom.36',
 'Prénom.36',
 'Liste.36',
 'Voix.36',
 '% Voix/Ins.36',
 '% Voix/Exp.36',
 'N.Pan..37',
 'Code Nuance.37',
 'Sexe.37',
 'Nom.37',
 'Prénom.37',
 'Liste.37',
 'Voix.37',
 '% Voix/Ins.37',
 '% Voix/Exp.37',
 'N.Pan..38',
 'Code Nuance.38',
 'Sexe.38',
 'Nom.38',
 'Prénom.38',
 'Liste.38',
 'Voix.38',
 '% Voix/Ins.38',
 '% Voix/Exp.38',
 'N.Pan..39',
 'Code Nuance.39',
 'Sexe.39',
 'Nom.39',
 'Prénom.39',
 'Liste.39',
 'Voix.39',
 '% Voix/Ins.39',
 '% Voix/Exp.39',
 'N.Pan..40',
 'Code Nuance.40',
 'Sexe.40',
 'Nom.40',
 'Prénom.40',
 'Liste.40',
 'Voix.40',
 '% Voix/Ins.40',
 '% Voix/Exp.40',
 'N.Pan..41',
 'Code Nuance.41',
 'Sexe.41',
 'Nom.41',
 'Prénom.41',
 'Liste.41',
 'Voix.41',
 '% Voix/Ins.41',
 '% Voix/Exp.41',
 'N.Pan..42',
 'Code Nuance.42',
 'Sexe.42',
 'Nom.42',
 'Prénom.42',
 'Liste.42',
 'Voix.42',
 '% Voix/Ins.42',
 '% Voix/Exp.42',
 'N.Pan..43',
 'Code Nuance.43',
 'Sexe.43',
 'Nom.43',
 'Prénom.43',
 'Liste.43',
 'Voix.43',
 '% Voix/Ins.43',
 '% Voix/Exp.43',
 'N.Pan..44',
 'Code Nuance.44',
 'Sexe.44',
 'Nom.44',
 'Prénom.44',
 'Liste.44',
 'Voix.44',
 '% Voix/Ins.44',
 '% Voix/Exp.44',
 'N.Pan..45',
 'Code Nuance.45',
 'Sexe.45',
 'Nom.45',
 'Prénom.45',
 'Liste.45',
 'Voix.45',
 '% Voix/Ins.45',
 '% Voix/Exp.45',
 'N.Pan..46',
 'Code Nuance.46',
 'Sexe.46',
 'Nom.46',
 'Prénom.46',
 'Liste.46',
 'Voix.46',
 '% Voix/Ins.46',
 '% Voix/Exp.46',
 'N.Pan..47',
 'Code Nuance.47',
 'Sexe.47',
 'Nom.47',
 'Prénom.47',
 'Liste.47',
 'Voix.47',
 '% Voix/Ins.47',
 '% Voix/Exp.47',
 'N.Pan..48',
 'Code Nuance.48',
 'Sexe.48',
 'Nom.48',
 'Prénom.48',
 'Liste.48',
 'Voix.48',
 '% Voix/Ins.48',
 '% Voix/Exp.48',
 'N.Pan..49',
 'Code Nuance.49',
 'Sexe.49',
 'Nom.49',
 'Prénom.49',
 'Liste.49',
 'Voix.49',
 '% Voix/Ins.49',
 '% Voix/Exp.49',
 'N.Pan..50',
 'Code Nuance.50',
 'Sexe.50',
 'Nom.50',
 'Prénom.50',
 'Liste.50',
 'Voix.50',
 '% Voix/Ins.50',
 '% Voix/Exp.50',
 'N.Pan..51',
 'Code Nuance.51',
 'Sexe.51',
 'Nom.51',
 'Prénom.51',
 'Liste.51',
 'Voix.51',
 '% Voix/Ins.51',
 '% Voix/Exp.51',
 'N.Pan..52',
 'Code Nuance.52',
 'Sexe.52',
 'Nom.52',
 'Prénom.52',
 'Liste.52',
 'Voix.52',
 '% Voix/Ins.52',
 '% Voix/Exp.52',
 'N.Pan..53',
 'Code Nuance.53',
 'Sexe.53',
 'Nom.53',
 'Prénom.53',
 'Liste.53',
 'Voix.53',
 '% Voix/Ins.53',
 '% Voix/Exp.53',
 'N.Pan..54',
 'Code Nuance.54',
 'Sexe.54',
 'Nom.54',
 'Prénom.54',
 'Liste.54',
 'Voix.54',
 '% Voix/Ins.54',
 '% Voix/Exp.54',
 'N.Pan..55',
 'Code Nuance.55',
 'Sexe.55',
 'Nom.55',
 'Prénom.55',
 'Liste.55',
 'Voix.55',
 '% Voix/Ins.55',
 '% Voix/Exp.55',
 'N.Pan..56',
 'Code Nuance.56',
 'Sexe.56',
 'Nom.56',
 'Prénom.56',
 'Liste.56',
 'Voix.56',
 '% Voix/Ins.56',
 '% Voix/Exp.56',
 'N.Pan..57',
 'Code Nuance.57',
 'Sexe.57',
 'Nom.57',
 'Prénom.57',
 'Liste.57',
 'Voix.57',
 '% Voix/Ins.57',
 '% Voix/Exp.57',
 'N.Pan..58',
 'Code Nuance.58',
 'Sexe.58',
 'Nom.58',
 'Prénom.58',
 'Liste.58',
 'Voix.58',
 '% Voix/Ins.58',
 '% Voix/Exp.58',
 'N.Pan..59',
 'Code Nuance.59',
 'Sexe.59',
 'Nom.59',
 'Prénom.59',
 'Liste.59',
 'Voix.59',
 '% Voix/Ins.59',
 '% Voix/Exp.59',
 'N.Pan..60',
 'Code Nuance.60',
 'Sexe.60',
 'Nom.60',
 'Prénom.60',
 'Liste.60',
 'Voix.60',
 '% Voix/Ins.60',
 '% Voix/Exp.60',
 'N.Pan..61',
 'Code Nuance.61',
 'Sexe.61',
 'Nom.61',
 'Prénom.61',
 'Liste.61',
 'Voix.61',
 '% Voix/Ins.61',
 '% Voix/Exp.61']

Sur les 27 colomnes, nous garderons que les suivantes:

In [21]:
colmnuns = [
    'Code du département',
    'Code de la commune',
    'Libellé de la commune',
    'Inscrits',
    '% Exp/Ins', # Exprimés sur Inscrits
    'Voix/Exp',
    'Code Nuance'
]           

communes = communes.filter(regex='(Code du département|Code de la commune|Libellé de la commune|Inscrits|Exp/Ins|Voix\/Exp|Code Nuance)')
communes.head(3)

,Code du département,Code de la commune,Libellé de la commune,Inscrits,% Exp/Ins,Code Nuance,% Voix/Exp,Code Nuance.1,% Voix/Exp.1,Code Nuance.2,...,Code Nuance.57,% Voix/Exp.57,Code Nuance.58,% Voix/Exp.58,Code Nuance.59,% Voix/Exp.59,Code Nuance.60,% Voix/Exp.60,Code Nuance.61,% Voix/Exp.61
0,1,1,L'Abergement-Clémenciat,622,44.05,NC,83.94,NC,96.35,NC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,L'Abergement-de-Varey,212,59.91,NC,96.85,NC,95.28,NC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,4,Ambérieu-en-Bugey,1042,33.3,LDVC,56.2,LDVG,23.05,LEXG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Maintenant nous allons reprendre uniquement les communes des départements suivants:

In [1]:
departements = [
    "9",  # Ariège
    "12",  # Aveyron 
    "31",  # Haute-Garonne
    "32",  # Gers
    "46",  # Lot 
    "65",  # Hautes-Pyrénées
    "81",  # Tarn
    "82",  # Tarn-et-Garonne
    "11"   # Aude
]

toulouse_counrtyside = communes.loc[communes['Code du département'].isin(departements)]
toulouse_counrtyside.head(3)

NameError: name 'communes' is not defined

Yes on a maintenant nos communes qui nous intéresse!

{'duration': 4516, 'length': 105567, 'baseDuration': 4299}

### A vous :

   - Quelle a été la plus grande subvention allouée en 2011 ? 
   - Quel est le parlementaire qui a reçu le plus grand nombre de subventions ? 
   - Quel est le parlementaire qui a reçu le plus de subventions en valeur ? 
   - Quel est le département qui a reçu le plus de subventions ?

In [7]:
reserve = pd.read_csv("data/reserve.csv")
reserve.head(2)

,Identifiant,Bénéficiaire,Département,Nature du projet,Coût du projet,Subvention allouée,Parlementaire transmetteur,Nature,Département Parlementaire,Groupe politique du parlementaire
0,2011/1,ABBANS-DESSOUS,DOUBS,l'aménagement de l'accès à la station d'épurat...,19743.5,9000.0,ACCOYER Bernard,Assemblée nationale,HAUTE-SAVOIE,UMP
1,2011/2,ABBECOURT,OISE,la mise en sécurité du parking réservé au car ...,19787.0,9500.0,MARINI Philippe,Sénat,OISE,UMP

Nous pouvons appliquer plusieurs clés : **quel est le nombre de subventions par partis politiques et par chambre ?**

In [8]:
chambres = reserve['Subvention allouée'].groupby([reserve['Groupe politique du parlementaire'],reserve['Nature']]).count()
chambres

Groupe politique du parlementaire  Nature
CRC                                Sénat                    97
CRC-SPG                            Sénat                    41
ECO                                Sénat                     1
GDR                                Assemblée nationale      44
NC                                 Assemblée nationale     221
NI                                 Assemblée nationale      68
                                   Sénat                   172
RDSE                               Sénat                   184
SOC                                Sénat                   990
SOCV                               Sénat                   262
SRC                                Assemblée nationale     869
UC                                 Sénat                    38
UDI                                Sénat                   501
UMP                                Assemblée nationale    3210
                                   Sénat                  2202
Name: Subvention allouée, dtype: int64

Nous créons dans ce cas une série avec deux index (partis et nature). 

Nous pouvons faire 'déplier' cette série avec la méthode **unstack** :

In [9]:
groupes_chambres = chambres.unstack()
groupes_chambres

Nature                              Sénat  Assemblée nationale
Groupe politique du parlementaire
CRC                                  97.0                  NaN
CRC-SPG                              41.0                  NaN
ECO                                   1.0                  NaN
GDR                                   NaN                 44.0
NC                                    NaN                221.0
NI                                  172.0                 68.0
RDSE                                184.0                  NaN
SOC                                 990.0                  NaN
SOCV                                262.0                  NaN
SRC                                   NaN                869.0
UC                                   38.0                  NaN
UDI                                 501.0                  NaN
UMP                                2202.0               3210.0

Nous pouvons également grouper sans spécifier de colonne. Si les données à grouper se trouvent dans mon DataFrame, je peux grouper de la façon suivante :

In [10]:
reserve.groupby('Nature').count()

,Identifiant,Bénéficiaire,Département,Nature du projet,Coût du projet,Subvention allouée,Parlementaire transmetteur,Département Parlementaire,Groupe politique du parlementaire
Nature,,,,,,,,,
Assemblée nationale,4522,4522,4522,4522,4522,4522,4522,4423,4412
Réserve ministérielle,1249,1249,1249,1249,1249,1249,1249,0,0
Sénat,4602,4602,4594,4602,4602,4602,4602,4488,4488

(Attention aux aggrégations hâtives ;))

### A vous :

- Quelle est la moyenne des coûts de projets par type d'assemblée ? 
- Combien de projets le Sénat a - t-il financé dans les Yvelines ? 
- Quelle a été la subvention allouée pour à Paris ?

Pandas nous permet également de passer des dictionnaires ou des séries au sein des groupes. 

Cela est intéressant lorsque nous souhaitons faire un mapping entre les colonnes (ou les lignes). 

Dans notre cas, les acronymes entre l'Assemblée Nationale et le Sénat varient (i.e : SOC et SRC désignent tous deux les groupes du Parti Socialiste). On peut donc écrire la correspondance suivante :

In [11]:
mapping = {'CRC':'Partis de Gauche', 
           'CRC-SPG':'Partis de Gauche', 
           'ECO':'Ecologistes', 
           'GDR':'Radicaux', 
           'NC':'Centristes', 
           'NI':'Non Inscrits', 
           'RDSE':'Radicaux',
           'SOC':'Parti Socialiste',
           'SOCV':'Parti Socialiste',
           'SRC':'Parti Socialiste',
           'UC':'Centristes', 
           'UDI':'Centristes', 
           'UMP':'Union Mouvement Populaire'}

Dans ce cas, nous souhaitons grouper selon la correspondance des index (axis =0) du DataFrame **groupes_chambres** avec le dictionnaire **mapping**, soit :

In [12]:
groupes_chambres

Nature                              Sénat  Assemblée nationale
Groupe politique du parlementaire
CRC                                  97.0                  NaN
CRC-SPG                              41.0                  NaN
ECO                                   1.0                  NaN
GDR                                   NaN                 44.0
NC                                    NaN                221.0
NI                                  172.0                 68.0
RDSE                                184.0                  NaN
SOC                                 990.0                  NaN
SOCV                                262.0                  NaN
SRC                                   NaN                869.0
UC                                   38.0                  NaN
UDI                                 501.0                  NaN
UMP                                2202.0               3210.0

In [13]:
groupes_chambres.groupby(mapping, axis=0).sum()

Nature                      Sénat  Assemblée nationale
Centristes                  539.0                221.0
Ecologistes                   1.0                  0.0
Non Inscrits                172.0                 68.0
Parti Socialiste           1252.0                869.0
Partis de Gauche            138.0                  0.0
Radicaux                    184.0                 44.0
Union Mouvement Populaire  2202.0               3210.0

Une autre façon de réaliser facilement des mapping, est d'utiliser la méthode **map** sur une série. Dans notre cas :

In [14]:
reserve['parti'] = reserve['Groupe politique du parlementaire'].map(mapping)
reserve.head(2)

,Identifiant,Bénéficiaire,Département,Nature du projet,Coût du projet,Subvention allouée,Parlementaire transmetteur,Nature,Département Parlementaire,Groupe politique du parlementaire,parti
0,2011/1,ABBANS-DESSOUS,DOUBS,l'aménagement de l'accès à la station d'épurat...,19743.5,9000.0,ACCOYER Bernard,Assemblée nationale,HAUTE-SAVOIE,UMP,Union Mouvement Populaire
1,2011/2,ABBECOURT,OISE,la mise en sécurité du parking réservé au car ...,19787.0,9500.0,MARINI Philippe,Sénat,OISE,UMP,Union Mouvement Populaire

## Agrégation

L'aggrégation de données correspond à une transformation d'un tableau de données en une valeur. 

Pandas permet d'accéder à des agrégations génériques (moyennes, somme etc..), mais il est également possible de créer ses propres fonctions d'agrégation.

Il est ainsi possible d'aggréger ses données en utilisant plusieurs fonctions d'agrégations. Déclarons par exemple les trois fonctions suivantes moyenne, maximum et minimum :

In [15]:
functions = ['mean','max','min']

Nous pouvons appeler la méthode **agg** qui appliquera pour chacun des groupes les fonctions appelées. 

Si nous souhaitons par exemple afficher la moyenne, le maximum et le minimum des subventions allouée par parti politique, nous pouvons écrire :

In [16]:
reserve.groupby('parti').agg(functions)

                          Coût du projet                          \
                                    mean          max        min
parti
Centristes                 190581.809289  10000000.00     207.00
Ecologistes                109675.160000    109675.16  109675.16
Non Inscrits               125298.219333   2930760.80     500.00
Parti Socialiste           174055.722555   7051620.00     490.80
Partis de Gauche           305022.648768   4553240.00    1854.43
Radicaux                   171573.573509   3561000.00    2489.85
Union Mouvement Populaire  176279.760408  12700000.00     569.00

                          Subvention allouée
                                        mean       max      min
parti
Centristes                      12277.388158  200000.0    103.0
Ecologistes                     27000.000000   27000.0  27000.0
Non Inscrits                     8509.641667  200000.0    250.0
Parti Socialiste                 9982.503536  200000.0    150.0
Partis de Gauche                20373.442029  183000.0    754.0
Radicaux                        12386.684211  105000.0    500.0
Union Mouvement Populaire       14755.733740  200000.0     50.0

Il est également possible de définir ses propres aggrégations grâce à la méthode **apply**

Comme précisé précédemment, la méthode **apply** sépare un set de données suivant les clés spécifier dans la méthode **groupby** puis applique la fonction appelée en paramètre. 

Nous défninissons la fonction **part** qui renvoie la moyenne du ratio subvention allouée / coût du projet :

In [17]:
def part(df):
    return np.mean(df['Subvention allouée']/df['Coût du projet'])

La moyenne totale de la part des projets subventionnées peut donc s'écrire :

In [18]:
part(reserve)

0.22932865162455282

Il est dès lors possible d'appliqer la fonction **part** avec un groupby pour obtenir la part des subventions par Département :

In [19]:
reserve.groupby('Département').apply(part).sort_values(ascending=False)

Département
PARIS            0.464954
GUADELOUPE       0.462033
CORSE-DU-SUD     0.432616
LA REUNION       0.425650
OISE             0.401674
                   ...
MORBIHAN         0.121805
COTES-D'ARMOR    0.120652
CHARENTE         0.120588
LANDES           0.120308
VIENNE           0.119057
Length: 101, dtype: float64

### A vous :

- Quel est la part subventionnée des projets par partis politiques ? 
- Quel parlementaire, ayant réalisé plus de 50 subventions, a réalisé le plus de subventions dans sa région ? 
- Quel est le parti politique qui a réalisé le plus de subventions dans sa région ?